.card{
    width: 349px;
    height: 249px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 11px;
}

.imgCard{
    width: 100%;
}

.divInfosCard{
    width: 100%;

    align-items: start;
    margin-top: 10px;
    color: var(--color-white);
}


@media(max-width: 392px){
    .imgCard{
        width: 95%;
    }
}
