*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
}

input {
    background: transparent;
    border: none;
}

ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
}
