.titleOne{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 3.15rem;
    line-height: 3.75rem;

    color: var(--color-black);
}

.titleTwo{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2.85rem;
    line-height: 3.50rem;

    color: var(--color-white);
}

.titleRestaurant{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.82rem;

    color: var(--color-white);
}

.paragraph{
    font-family: var(--font-secundary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

span{
    color: var(--color-secundary);
}
